---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Marian Molocea" description="About Marian Molocea Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Welcome to my corner of the digital world! Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Marian Molocea at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I'm a seasoned frontend engineer with a passion for crafting seamless user experiences and pushing the boundaries of web technology. With over four years of dedicated experience in React, TypeScript, and an array of frontend technologies, I thrive on translating design concepts into elegant, functional interfaces.
					</p>
					<br />
					<p>
						My journey as a web developer has been marked by a relentless pursuit of knowledge and growth. Every project I undertake serves as an opportunity to deepen my expertise and refine my problem-solving skills. From architecting complex applications to fine-tuning performance, I approach each challenge with a blend of creativity and analytical rigor.
					</p>
					<br />
					<p>
						While I excel in autonomous work, I find immense satisfaction in collaborating with like-minded individuals. As a staunch believer in the power of teamwork, I actively foster a collaborative environment where ideas are shared, and collective success is celebrated. Whether it's mentoring junior developers or seamlessly integrating with cross-functional teams, I'm committed to driving projects forward with synergy and cohesion.
					</p>
					<br />

					<p>
						Beyond the realm of code, I bring a positive mindset and an insatiable curiosity to everything I do. Whether I'm diving into a new technology stack or exploring innovative design patterns, I thrive on the exhilarating journey of continuous learning and self-improvement.
					</p>
					<br />
					<p>
						I'm excited to embark on new adventures, tackle fresh challenges, and contribute my expertise to innovative projects that push the boundaries of possibility. Let's collaborate, innovate, and transform ideas into reality together.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>React, TypeScript, HTML, CSS</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
